footer {
    position: absolute;
    bottom: 0px;
    overflow: hidden;
}
input {
    width: 300px;
    height: 50px;
    justify-content: center;
    text-align: center;
    border: grey solid 1px;
    border-radius: 40px;
    color: white;
    font-size: 12.5px;
}
.submit_button {
    background-color: rgba(173, 216, 230, 0.8);
    color: rgb(73, 26, 26);
    font-size: 15px;
    border-radius: 40px;
    margin: 10px;
    width: 300px;
}
.submit_button:hover {
    background-color: rgb(57, 115, 134);
}
.signin_menu {
    justify-content: center;
    text-align: center;
    display: block;
    position: relative;
    top: 200px;
}
input {
    margin: 10px;
    display: inline;
}
.signin_menu h1 {
    color: white;
    font-size: 50px;
    margin: 5px;
    font-family: sans-serif;
    overflow: scroll;
}
@media screen and (min-height: 745px) and (max-height: 695px){
    .signin_menu {
        top: 100px;
    }
}