* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  #24252a;
}
li,a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(73, 26, 26);
    text-decoration: none;
    background-color: darkgray;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    height: 90px;
    background-color: darkgray;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: darkgray;
} 
.navbar_brand {

    cursor: pointer;
    margin-right: auto;
    position: relative;
    background-size: contain;
    width: 170px;
    top: -5px;

}
.nav_links {
    list-style: none;
    background-color: darkgray;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: darkgray;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
    background-color: darkgray;
}
.nav_links li a:hover  {
    color: rgba(173, 216, 230, 1.5);
}
button {
    padding: 9px 25px; 
    background-color: lightblue;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;    
}
button:hover {
    background-color: rgba(173, 216, 230, 0.8);
}
footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    position: fixed;
}
.footer_nav {
    position: relative;
    text-align: center;
    align-content: center;
    background-color: #24252a;
    color: rgb(255, 255, 255);
    margin: 10px;
}
.line_footer {
    margin: 10px;
}